#source_compile.config
container_commands:
  set_ormconfig:
    command: "/bin/aws s3 cp s3://bpdev-env/ormconfig.json ormconfig.json"
  set_ormconfig_ownership:
    command: "/bin/chown webapp:webapp ormconfig.json"
  compile:
    command: "./node_modules/.bin/tsc -p tsconfig.json"
    env:
      PATH: /opt/elasticbeanstalk/node-install/node-v14.17.3-linux-x64/bin/